// nextflow.config

params {
    // 通用参数
    outdir = './results'
    help = false 
    mode = ''
    conda_prefix = '/opt/software/miniconda3'
    
    // QC模式参数
    rawPaths = ''
    filterPaths = ''
    biosampleValues = ''
    sampleValues = ''
    rlst = "0.2|0.5|0.8|1.0"
    runsoupx = 'no'
    tfidfMin = 1
    qc_cpu = "2|1" // SOUPX|SCRUBLET
    qc_mem = "4|2"
    
    // Convert模式参数
    inputFile = ''
    assay = ''
    python_env = ''
    convert_cpu = 1 // CONVERT_0
    convert_mem = 2
    
    // Annotation模式参数
    input_query_rds = ''
    rdsORcsv = ''
    cluster_key = ''
    umap_name = "Xumap_"
    ref_cluster_key = "celltype"
    anno_cpu = 1 // ANNOR
    anno_mem = 2
    
    // Integration模式参数
    inputH5ad = '' // (biosampleValues)
    prefix = ''
    other1_key = 'biosample'
    other2_key = 'leiden_res_0.50'
    python_env = ''
    annoCsv = ''
    resolutionSet = 0.5
    runsct = 'no'
    inte_cpu = "1|8|2|2|1|2|1|4|4|1|1|8" // CONCAT|SCVI|HARMONY|UNINTEGRATION|CONVERT_1|RLIGER|CONVERT_1_int|SCT_CCA|SCT_HARMONY|CONVERT_2_int|DEALPLUS|SCIB
    inte_mem = "2|4|4|4|4|4|4|8|8|4|4|8"
    
    // MetaNeighbor模式参数
    batch_key = '' // (inputFile, prefix, cluster_key)
    seq = ''
    slimit = 0.8
    meta_cpu = 1
    meta_mem = 2
    
    // DEA模式参数
    ident_1 = '' // (inputFile, cluster_key)
    ident_2 = ''
    dea_cpu = 1
    dea_mem = 2
    
    // Enrichment模式参数
    emapper_xlsx = ''
    gene_csv = ''
    genus = "Genus"
    species = "species"
    minp = 0.05
    enrich_cpu = 2
    enrich_mem = 8
    
    
    // Pseudotime模式参数
    cluster_value = '' // (inputFile, batch_key, cluster_key)
    time_cpu = 1
    time_mem = 2
}

// --- qc ---
def qc_cpu = params.qc_cpu.split('\\|')
def qc_mem = params.qc_mem.split('\\|')

// --- integrate ---
def inte_cpu = params.inte_cpu.split('\\|')
def inte_mem = params.inte_mem.split('\\|')

// --- scline: ---
def sclineEnv = """
    source "${params.conda_prefix}/bin/activate"
    conda activate scline
"""
// --- convert: ---
def convertEnv = """
    source "${params.conda_prefix}/bin/activate"
    conda activate convert
"""
// --- scib: ---
def scibEnv = """
    source "${params.conda_prefix}/bin/activate"
    conda activate scib
"""
    
process {
    withName: 'SOUPX' {
        cpus = qc_cpu[0].toInteger()
        memory = "${qc_mem[0].toInteger()} GB"
        time   = '8 h'
        beforeScript = sclineEnv
    }
    
    withName: 'SCRUBLET' {
        cpus = qc_cpu[1].toInteger()
        memory = "${qc_mem[1].toInteger()} GB"
        time   = '8 h'
        beforeScript = sclineEnv
    }
    
    withName: 'CONVERT_0' {
        cpus = params.convert_cpu
        memory = "${params.convert_mem} GB"
        time   = '8 h'
        beforeScript = convertEnv
    }
    
    withName: 'ANNOR' {
        cpus = params.anno_cpu
        memory = "${params.anno_mem} GB"
        time   = '8 h'
        beforeScript = sclineEnv
    }
    
    withName: 'CONCAT' {
        cpus = inte_cpu[0].toInteger()
        memory = "${inte_mem[0].toInteger()} GB"
        time   = '8 h'
        beforeScript = sclineEnv
    }
    
    withName: 'CONCAT2' {
        cpus = inte_cpu[0].toInteger()
        memory = "${inte_mem[0].toInteger()} GB"
        time   = '8 h'
        beforeScript = sclineEnv
    }
    
    withName: 'SCVI' {
        cpus = inte_cpu[1].toInteger()
        memory = "${inte_mem[1].toInteger()} GB"
        time   = '8 h'
        beforeScript = sclineEnv
    }
    
    withName: 'HARMONY' {
        cpus = inte_cpu[2].toInteger()
        memory = "${inte_mem[2].toInteger()} GB"
        time   = '8 h'
        beforeScript = sclineEnv
    }
    
    withName: 'UNINTEGRATION' {
        cpus = inte_cpu[3].toInteger()
        memory = "${inte_mem[3].toInteger()} GB"
        time   = '8 h'
        beforeScript = sclineEnv
    }
    
    withName: 'CONVERT_1' {
        cpus = inte_cpu[4].toInteger()
        memory = "${inte_mem[4].toInteger()} GB"
        time   = '8 h'
        beforeScript = convertEnv
    }
    
    withName: 'RLIGER' {
        cpus = inte_cpu[5].toInteger()
        memory = "${inte_mem[5].toInteger()} GB"
        time   = '8 h'
        beforeScript = sclineEnv
    }
    
    withName: 'CONVERT_1_int' {
        cpus = inte_cpu[6].toInteger()
        memory = "${inte_mem[6].toInteger()} GB"
        time   = '8 h'
        beforeScript = convertEnv
    }
    
    withName: 'SCT_CCA' {
        cpus = inte_cpu[7].toInteger()
        memory = "${inte_mem[7].toInteger()} GB"
        time   = '8 h'
        beforeScript = sclineEnv
    }
    
    withName: 'SCT_HARMONY' {
        cpus = inte_cpu[8].toInteger()
        memory = "${inte_mem[8].toInteger()} GB"
        time   = '8 h'
        beforeScript = sclineEnv
    }
    
    withName: 'CONVERT_2_int' {
        cpus = inte_cpu[9].toInteger()
        memory = "${inte_mem[9].toInteger()} GB"
        time   = '8 h'
        beforeScript = convertEnv
    }
    
    withName: 'DEALPLUS' {
        cpus = inte_cpu[10].toInteger()
        memory = "${inte_mem[10].toInteger()} GB"
        time   = '8 h'
        beforeScript = sclineEnv
    }
    
    withName: 'SCIB' {
        cpus = inte_cpu[11].toInteger()
        memory = "${inte_mem[11].toInteger()} GB"
        time   = '8 h'
        beforeScript = scibEnv
    }
    
    withName: 'MetaNeighbor' {
        cpus = params.meta_cpu
        memory = "${params.meta_mem} GB"
        time   = '8 h'
        beforeScript = sclineEnv
    }
    
    withName: 'FindMarkers' {
        cpus = params.dea_cpu
        memory = "${params.dea_mem} GB"
        time   = '8 h'
        beforeScript = sclineEnv
    }
    
    withName: 'makeOrgPackage' {
        cpus = params.enrich_cpu
        memory = "${params.enrich_mem} GB"
        time   = '8 h'
        beforeScript = sclineEnv
    }
    
    withName: 'clusterProfiler' {
        cpus = params.enrich_cpu
        memory = "${params.enrich_mem} GB"
        time   = '8 h'
        beforeScript = sclineEnv
    }
    
    withName: 'CYTOTRACE' {
        cpus = params.time_cpu
        memory = "${params.time_mem} GB"
        time   = '8 h'
        beforeScript = scibEnv
    }
}

report {
    enabled = true
    file = "${params.outdir}/execution-report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.outdir}/execution-timeline.html"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline-dag.html"
    // 或者使用其他格式
    // file = "${params.outdir}/pipeline-dag.png"
    // file = "${params.outdir}/pipeline-dag.pdf"
    overwrite = true
}