// 全局
params {
    // 输入
    input_csv        = "$projectDir/data/samplesheet.csv"   // 三列：sample_id, r1, r2
    outdir           = "$projectDir/results"

    // 过滤阈值
    min_genes        = 200
    min_cells        = 3
    max_mt_percent   = 20

    // 资源
    max_cpus   = 8
    max_memory = '16.GB'
}

// 环境
conda {
    cacheDir = "$projectDir/conda_envs"
}
docker.enabled = false
singularity.enabled = false

// 报告
timeline { enabled = true }
report   { enabled = true }
dag      { enabled = true }